body {
  font: 10px sans-serif;
}

.bar, .area {
  fill: steelblue;
}

.bar.selected{
    fill: red;
}

.bar.removed{
    fill: black;
}

.bar:hover {
  fill: green;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
